@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway;
}

body {
  background-color: lightblue;
  background-image: url('univ.png');
  background-repeat: no-repeat;
  background-size: cover;

}

.welcomeCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50rem;
  backdrop-filter: sepia(90%);

}

.welcomeCenter>h1 {
  width: 55rem;
  text-align: center;
  line-height: 3rem;
  background: #50C878;
  padding: 4rem 6rem;
  border: 10px yellow double;
}