@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

html, body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('student.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(1px);
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  padding-bottom: 5vh;
}

.testForm {
  display: inline-block;
  width: 30rem;

}

.formHeading {
  background-color: maroon;
  padding: 1rem 2rem;
  color: aliceblue;
  box-shadow: 2px 4px 4px 0px darkgrey;
  text-align: center;
}

.legendFont {
  background: #008000;
  padding: 0.75rem;
  color: #fff;
  font-size: 15px;
  font-weight: 100;
}

.fieldItems {
  padding: 2rem;
  border: 1px solid;
  border-radius: 4px;
  background-image: url('form-bg.jpg');
  background-position: 25% 75%;
}

.submitBtn {
  font-family: 'Raleway';
}

input[type=text] {
  width: 100%;
  height: 2.2rem;
}

input[type=email] {
  width: 100%;
  height: 2.2rem;
}

input[type=number] {
  width: 100%;
  height: 2.2rem;
}

input[type=date] {
  width: 100%;
  height: 2.2rem;
}

textarea {
  width: 100%;
  resize: none;
}

input[type=text]:focus {
  border: 1px lightgray !important;
}

.submitBtn {
  border: none;
  background: #50C878;
  padding: 1rem 2rem;
  border-radius: 6px;
  transition: ease-in-out 0.5s;
  color: #f2f2f2;
  font-size: 14px;
}

.submitBtn:hover {
  transform: scaleX(1.07);
  cursor: pointer;
  color: #fff;
  background-color: #008000;
  font-size: 15px;
}

.error {
  color: red;
}

#subject-error {
  position: absolute;
  z-index: 5;
  background: black;
  padding: 5px;
}

::placeholder {
  color: rgba(211, 211, 211, 0.8);
  font-style: italic;
  padding-left: 0.75rem;
}

.mainContainer {
  display: grid;
  grid-template-columns: 1fr 4fr;
  
}

.univBadge {
  margin-top: 20rem;
  margin-left: 2.2rem;
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  border: 5px double yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: badgeAnimation 5s infinite;
  backdrop-filter: blur(1px);
}

.unvBadgeText {
  padding: 1.2rem;
  color: aquamarine;
  font-size: large;
}

.univBadgeTextNote {
  color: #f2f2f2;
  font-style: italic;
  position: relative;
  top: 0.5em;
  left: 2rem;
  font-size: 14px;
  font-weight: 900;
  color: tomato;
}

.yellow-color {
  color: yellow;
}

.headingNote {
  font-size: 22px;
  font-style: italic;
  color: orange;
}

@media screen and (max-width : 90rem) {}

@keyframes badgeAnimation {
  0% {
    background-color: rgb(3, 60, 38);
  }

  25% {
    background-color: rgb(84, 84, 5);
  }

  50% {
    background-color: green;
  }

  75% {
    background-color: brown;
  }

  100% {
    background-color: rgb(166, 0, 255);
  }
}